doctype html
head
    meta(charset='utf8')
    title 506qqq
    link(rel="stylesheet" href="style.css")

header
    h1 実験用
  
.main_area
    .main_title
        | てすてす
    .main_contents
        | 草生える