doctype html
head
    meta(charset='utf8')
    title SenryuModだうんろーだー
    link(rel="stylesheet" href="style.css")

header
    h1 SenryuMod 0.1
  
.main_area
  a(download href="./Senryu-1.0.jar") ダウンロード
  .description
  | 整地鯖の便利系Modになる(予定)(願望)<br>
  | 今は直列設置の可視化機能しか入ってません！ｗうんち！ｗ<br>
  | 動かないとかあれば連絡してくだしあ<br>
  | 期待される動作
  ul
    li 起動する(ここ重要)
    li めっちゃラグいとかにならない
    li 直列設置を選択すると2ブロック前に赤いパーティクル?が出る
    li 上向き設置は非対応
    li これ以外の動作とかあったら連絡してくだしあ
    a(link="https://github.com/506qqq/Senryu.java") Mod(Github)
    a(link="https://github.com/506qqq/webPage.pug") Web(Github)
